@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}
@layer utilities {
  .scroll-shadows {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    background:
      /* Shadow Cover TOP */
      linear-gradient(transparent 30%, rgba(255, 255, 255, 0)) center top,
      /* Shadow Cover BOTTOM */
        linear-gradient(rgba(255, 255, 255, 0), white 70%) center bottom,
      /* Shadow TOP */
        radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center top,
      /* Shadow BOTTOM */
        radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size:
      100% 40px,
      100% 40px,
      100% 14px,
      100% 14px;
    background-attachment: local, local, scroll, scroll;
  }

  /* Not important to the functionality, just for this particular demo */
  .scroll-shadows {
    --scrollbarBG: transparent;
    --thumbBG: #90a4ae;

    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .scroll-shadows::-webkit-scrollbar {
    width: 6px;
  }
  .scroll-shadows::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .scroll-shadows::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

  .scroll-width {
  }
  .scroll-width::-webkit-scrollbar {
    width: 6px;
  }
  .scroll-width::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .scroll-width::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}
blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}
